<a href="https://colab.research.google.com/github/asadullah00alimran/LearnPython/blob/main/class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #Print & Comment

print("\t Hello! \n  Welcome to the class\n \"Thanks For Watching\"")

'''
print('Oop1')
print('Oop2')
'''
print('\n \n')
print('This is Pythin Program')

	 Hello!
  Welcome to the class
 "Thanks For Watching"



This is Pythin Program

In [ ]:
#Variables
name1='Nusrat'
name2='Jahan'
id=12999
age=20

print("I am "+name1+' '+name2 )
print('ID-',id,'\nI am',age,'years old')

I am Nusrat Jahan
ID- 12999
I am 20 years old

In [ ]:
#Input
a=22
b=4

r=a+b
print(r)

r=a-b
print(r)

r=a*b
print(r)

r=a/b
print(r)

r=a%b
print(r)

26
18
88
5.5
2

In [ ]:
a=4
r=a**2
print(r)
b=22
r=b//a   
print(r)

16
5

In [ ]:
a=input()
print(a)

b= int (input())
print(b)

4
4
7
7

In [ ]:
name= input("Enter Your Name : " )
Dept= input("Enter Your Dept : " )
batch= input("Enter Your batch no : " )
print('\n \n')
print('My name is '+name)
print('Dept of '+Dept)
print('From',batch,'Batch')

Enter Your Name : 4
Enter Your Dept : 6
Enter Your batch no : 4



My name is 4
Dept of 6
From 4 Batch

In [ ]:
#Type casting
name= input("Enter Your Name : " )
age=int (input("Enter Your Age : " ))
Cgpa= float (input("Enter Your Cgpa : " ))
print('\n \n')
print('My name is '+name)
print('I am ',age,'years old')
print('Cgpa=',Cgpa,)

Enter Your Name : tt