<a href="https://colab.research.google.com/github/asadullah00alimran/LearnPython/blob/main/Copy_of_LAB_2_Self_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print & Comment
#print number 
print(2)
#print String
print("Hi! I am Asadullah Al Imran")
#for comment just type "#" before the line(for single line comment)
'''
for multiple line comment type 3 single cotation brfore the started comment 
line and also end of the comment segment
'''
#Concatenation
print('Hello','World')
#

In [ ]:
#Backslash,Print string inside double or single cotation
print("Hey! Python programmer world,\nare you ready for your new Competator ?")
print("Listen, I am almost coming to take away your sleep.So\"Be aleart !\"")

Hey! Python programmer world,
are you ready for your new Competator ?
Listen, I am almost coming to take away your sleep.So"Be aleart !"

In [ ]:
#Variable
name = "Asadullah Al Imran"
age = 21
print(name)
print("Age : ",age)
print("My name is "+name +" And Age is ",age)

Asadullah Al Imran
Age :  20
My name is Asadullah Al Imran And Age is  20

In [ ]:
#Operator
a = 20
b= 4

sum = a+b
print(sum)

sub = a-b
print(sub)

mul = a*b
print(mul)

div = a/b
print(div)

rem = a%b
print(rem)

24
16
80
5.0
0

In [ ]:
#a**b,a//b,a++b,a--b
a = 10
b= 3

r = a**b
print(r)

r = a++b
print(r)

r = a--b
print(r)

r = a//b
print(r)

1000
13
13
3

In [ ]:
#User Input
a = input("Type something : " )
print(a)

Type something : Asadullah Al Imaran
Asadullah Al Imaran

In [ ]:
#TypeCasting
name = input("Enter Name : ")
age = int(input("Enter Age : "))
gpa = float(input("Enter G.P.A. : "))

print("Inputed Information")

print("Name : "+ name)
print("Age : ",age)
print("G.P.A. : ",gpa)

Enter Name : Asadullah Al Imran
Enter Age : 21
Enter G.P.A. : 3.40
Inputed Information
Name : Asadullah Al Imran
Age :  21
G.P.A. :  3.4