<a href="https://colab.research.google.com/github/asadullah00alimran/LearnPython/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list=['I','am','Asadullah','Al','Imran']

print(list)
print(list[3])
print(list[1:])
print(list[-3:])

['I', 'am', 'Asadullah', 'Al', 'Imran']
Al
['am', 'Asadullah', 'Al', 'Imran']
['Asadullah', 'Al', 'Imran']

In [ ]:
list=['I','am','Asadullah','Al','Imran']

print((list)+['21','CSE','191-15-12981']) #Temporary_add
print(list)
print(list*2)

['I', 'am', 'Asadullah', 'Al', 'Imran', '21', 'CSE', '191-15-12981']
['I', 'am', 'Asadullah', 'Al', 'Imran']
['I', 'am', 'Asadullah', 'Al', 'Imran', 'I', 'am', 'Asadullah', 'Al', 'Imran']

In [ ]:
list=['I','am','Asadullah','Al','Imran']

print('Asadullah' in list)         #Search

print(len(list))                #length

list.append('Cse')              #Add_one_element
print(list)

list.append('191-15-12982')     #Add_one_element
print(list)

list.insert(0,'Hello')          #Insert_elements_in_postion
print(list)

list.remove('Cse')              #Remove
print(list)

True
5
['I', 'am', 'Asadullah', 'Al', 'Imran', 'Cse']
['I', 'am', 'Asadullah', 'Al', 'Imran', 'Cse', '191-15-12982']
['Hello', 'I', 'am', 'Asadullah', 'Al', 'Imran', 'Cse', '191-15-12982']
['Hello', 'I', 'am', 'Asadullah', 'Al', 'Imran', '191-15-12982']

In [ ]:
list=['I','am','Asadullah','Al','Imran']

list.clear()                    #all_clear
print(list)

[]

In [ ]:
num1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11]

num1.pop()                       #Pop
print(num1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num2=[5,7,3,2,1,4,6,9,10,8,10]

num2.sort()                     #Sorting
print(num2)

num2.reverse()                  #Reverse_sorting
print(num2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]
[10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a=num2.copy()                   #Copy
print(a)

b=num2.index(2)                 #indexing
print(b)

print(num2.index(3))

c=num2.count(10)                #Count
print(c)

[10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
9
8
2

In [ ]:
n=input('Enter a text=')

C=n.split()          
print(C*7)

Enter a text=Python
['Python', 'Python', 'Python', 'Python', 'Python', 'Python', 'Python']

In [ ]:
#l=['A', 'C', 'A-', 'C+','A+', 'B+', 'A', 'B-', 'C', 'A+']

for x in range(9):
        grade = input("Enter grade for course: " )
        if grade == 'A':
            grade = int(4)
        if grade == 'B':
            grade = int(3)
        if grade == 'C':
            grade = int(2)
        if grade == 'D':
            grade = int(1)
        if grade == 'F':
            grade = int(0)
  
print(grade)

Enter grade for course: 4
Enter grade for course: 2
Enter grade for course: 3
Enter grade for course: 3
Enter grade for course: 2
Enter grade for course: 1
Enter grade for course: 5
Enter grade for course: 3
Enter grade for course: 3
Enter grade for course: 4
Enter grade for course: 5
5