In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Course/8th Semester/Data Mining and Machine Learning/iris.csv")

In [ ]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
y = df['species']
x = df.drop('species',axis=1)

In [ ]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [ ]:
x_train, x_test, y_tarin,y_test = train_test_split(x,y,test_size=0.2)

In [ ]:
l = LabelEncoder()
y_tarin = l.fit_transform(y_tarin)
y_tarin

array([0, 0, 2, 0, 2, 0, 0, 1, 0, 1, 2, 2, 0, 1, 2, 2, 2, 0, 0, 0, 0, 0,
       0, 2, 0, 1, 1, 0, 1, 0, 0, 2, 1, 2, 2, 1, 2, 2, 0, 1, 0, 0, 2, 1,
       1, 0, 0, 1, 2, 1, 1, 1, 1, 2, 2, 0, 2, 0, 1, 1, 0, 2, 2, 2, 1, 2,
       1, 0, 1, 2, 2, 2, 2, 1, 0, 1, 0, 0, 0, 1, 2, 0, 2, 1, 1, 2, 0, 2,
       0, 1, 2, 0, 0, 2, 1, 2, 2, 0, 2, 1, 0, 2, 1, 0, 1, 0, 2, 2, 1, 2,
       1, 2, 2, 2, 2, 1, 0, 1, 1, 1])

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [ ]:
dt = DecisionTreeClassifier()
dt.fit(x_train,y_tarin)
dt.predict(x_test)

array([1, 0, 1, 1, 0, 1, 1, 2, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 2, 0,
       2, 2, 0, 1, 2, 2, 0, 2])

In [ ]:
dt.score(x_train,y_tarin)

1.0

In [ ]:
y_test = l.fit_transform(y_test)

In [ ]:
dt.score(x_test,y_test)

0.8666666666666667

In [ ]:
ref = RandomForestClassifier()
ref.fit(x_train,y_tarin)
ref.predict(x_test)

array([1, 0, 1, 1, 0, 1, 1, 2, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 2, 0,
       1, 2, 0, 1, 2, 2, 0, 2])

In [ ]:
ref.score(x_train,y_tarin)

1.0

In [ ]:
ref.score(x_test,y_test)

0.9

In [ ]:
svc = SVC(random_state=101)
svc.fit(x_train,y_tarin)
svc.predict(x_test)

array([1, 0, 1, 2, 0, 1, 1, 2, 1, 0, 1, 1, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0,
       1, 2, 0, 1, 2, 2, 0, 2])

In [ ]:
svc.score(x_train,y_tarin)

0.975

In [ ]:
svc.score(x_test,y_test)

0.9666666666666667