In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Course/8th Semester/Data Mining and Machine Learning/iris.csv')

In [ ]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
df.head(8)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa

In [ ]:
df.tail(6)

     sepal_length  sepal_width  petal_length  petal_width    species
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
print(df.dtypes)

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [ ]:
df.describe

<bound method NDFrame.describe of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [ ]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
df.isnull()

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [ ]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

In [ ]:
df.equals(df)

True

In [ ]:
df.sepal_length.mean()

5.843333333333335

In [ ]:
df.sepal_length.mode()

0    5.0
dtype: float64

In [ ]:
df.sepal_length.sum()

876.5

In [ ]:
x = df.drop('species', axis = 1)

In [ ]:
print(x)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [ ]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler(feature_range = (-1, 1))
new_x = min_max_scaler.fit_transform(x)

In [ ]:
min_max_scaler

MinMaxScaler(copy=True, feature_range=(-1, 1))

In [ ]:
new_x

array([[-5.55555556e-01,  2.50000000e-01, -8.64406780e-01,
        -9.16666667e-01],
       [-6.66666667e-01, -1.66666667e-01, -8.64406780e-01,
        -9.16666667e-01],
       [-7.77777778e-01,  0.00000000e+00, -8.98305085e-01,
        -9.16666667e-01],
       [-8.33333333e-01, -8.33333333e-02, -8.30508475e-01,
        -9.16666667e-01],
       [-6.11111111e-01,  3.33333333e-01, -8.64406780e-01,
        -9.16666667e-01],
       [-3.88888889e-01,  5.83333333e-01, -7.62711864e-01,
        -7.50000000e-01],
       [-8.33333333e-01,  1.66666667e-01, -8.64406780e-01,
        -8.33333333e-01],
       [-6.11111111e-01,  1.66666667e-01, -8.30508475e-01,
        -9.16666667e-01],
       [-9.44444444e-01, -2.50000000e-01, -8.64406780e-01,
        -9.16666667e-01],
       [-6.66666667e-01, -8.33333333e-02, -8.30508475e-01,
        -1.00000000e+00],
       [-3.88888889e-01,  4.16666667e-01, -8.30508475e-01,
        -9.16666667e-01],
       [-7.22222222e-01,  1.66666667e-01, -7.96610169e-01,
        -9.16666667e-01],
       [-7.22222222e-01, -1.66666667e-01, -8.64406780e-01,
        -1.00000000e+00],
       [-1.00000000e+00, -1.66666667e-01, -9.66101695e-01,
        -1.00000000e+00],
       [-1.66666667e-01,  6.66666667e-01, -9.32203390e-01,
        -9.16666667e-01],
       [-2.22222222e-01,  1.00000000e+00, -8.30508475e-01,
        -7.50000000e-01],
       [-3.88888889e-01,  5.83333333e-01, -8.98305085e-01,
        -7.50000000e-01],
       [-5.55555556e-01,  2.50000000e-01, -8.64406780e-01,
        -8.33333333e-01],
       [-2.22222222e-01,  5.00000000e-01, -7.62711864e-01,
        -8.33333333e-01],
       [-5.55555556e-01,  5.00000000e-01, -8.30508475e-01,
        -8.33333333e-01],
       [-3.88888889e-01,  1.66666667e-01, -7.62711864e-01,
        -9.16666667e-01],
       [-5.55555556e-01,  4.16666667e-01, -8.30508475e-01,
        -7.50000000e-01],
       [-8.33333333e-01,  3.33333333e-01, -1.00000000e+00,
        -9.16666667e-01],
       [-5.55555556e-01,  8.33333333e-02, -7.62711864e-01,
        -6.66666667e-01],
       [-7.22222222e-01,  1.66666667e-01, -6.94915254e-01,
        -9.16666667e-01],
       [-6.11111111e-01, -1.66666667e-01, -7.96610169e-01,
        -9.16666667e-01],
       [-6.11111111e-01,  1.66666667e-01, -7.96610169e-01,
        -7.50000000e-01],
       [-5.00000000e-01,  2.50000000e-01, -8.30508475e-01,
        -9.16666667e-01],
       [-5.00000000e-01,  1.66666667e-01, -8.64406780e-01,
        -9.16666667e-01],
       [-7.77777778e-01,  0.00000000e+00, -7.96610169e-01,
        -9.16666667e-01],
       [-7.22222222e-01, -8.33333333e-02, -7.96610169e-01,
        -9.16666667e-01],
       [-3.88888889e-01,  1.66666667e-01, -8.30508475e-01,
        -7.50000000e-01],
       [-5.00000000e-01,  7.50000000e-01, -8.30508475e-01,
        -1.00000000e+00],
       [-3.33333333e-01,  8.33333333e-01, -8.64406780e-01,
        -9.16666667e-01],
       [-6.66666667e-01, -8.33333333e-02, -8.30508475e-01,
        -1.00000000e+00],
       [-6.11111111e-01,  0.00000000e+00, -9.32203390e-01,
        -9.16666667e-01],
       [-3.33333333e-01,  2.50000000e-01, -8.98305085e-01,
        -9.16666667e-01],
       [-6.66666667e-01, -8.33333333e-02, -8.30508475e-01,
        -1.00000000e+00],
       [-9.44444444e-01, -1.66666667e-01, -8.98305085e-01,
        -9.16666667e-01],
       [-5.55555556e-01,  1.66666667e-01, -8.30508475e-01,
        -9.16666667e-01],
       [-6.11111111e-01,  2.50000000e-01, -8.98305085e-01,
        -8.33333333e-01],
       [-8.88888889e-01, -7.50000000e-01, -8.98305085e-01,
        -8.33333333e-01],
       [-9.44444444e-01,  0.00000000e+00, -8.98305085e-01,
        -9.16666667e-01],
       [-6.11111111e-01,  2.50000000e-01, -7.96610169e-01,
        -5.83333333e-01],
       [-5.55555556e-01,  5.00000000e-01, -6.94915254e-01,
        -7.50000000e-01],
       [-7.22222222e-01, -1.66666667e-01, -8.64406780e-01,
        -8.33333333e-01],
       [-5.55555556e-01,  5.00000000e-01, -7.96610169e-01,
        -9.16666667e-01],
       [-8.33333333e-01,  0.00000000e+00, -8.64406780e-01,
        -9.16666667e-01],
       [-4.44444444e-01,  4.16666667e-01, -8.30508475e-01,
        -9.16666667e-01],
       [-6.11111111e-01,  8.33333333e-02, -8.64406780e-01,
        -9.16666667e-01],
       [ 5.00000000e-01,  0.00000000e+00,  2.54237288e-01,
         8.33333333e-02],
       [ 1.66666667e-01,  0.00000000e+00,  1.86440678e-01,
         1.66666667e-01],
       [ 4.44444444e-01, -8.33333333e-02,  3.22033898e-01,
         1.66666667e-01],
       [-3.33333333e-01, -7.50000000e-01,  1.69491525e-02,
         2.22044605e-16],
       [ 2.22222222e-01, -3.33333333e-01,  2.20338983e-01,
         1.66666667e-01],
       [-2.22222222e-01, -3.33333333e-01,  1.86440678e-01,
         2.22044605e-16],
       [ 1.11111111e-01,  8.33333333e-02,  2.54237288e-01,
         2.50000000e-01],
       [-6.66666667e-01, -6.66666667e-01, -2.20338983e-01,
        -2.50000000e-01],
       [ 2.77777778e-01, -2.50000000e-01,  2.20338983e-01,
         2.22044605e-16],
       [-5.00000000e-01, -4.16666667e-01, -1.69491525e-02,
         8.33333333e-02],
       [-6.11111111e-01, -1.00000000e+00, -1.52542373e-01,
        -2.50000000e-01],
       [-1.11111111e-01, -1.66666667e-01,  8.47457627e-02,
         1.66666667e-01],
       [-5.55555556e-02, -8.33333333e-01,  1.69491525e-02,
        -2.50000000e-01],
       [-4.44089210e-16, -2.50000000e-01,  2.54237288e-01,
         8.33333333e-02],
       [-2.77777778e-01, -2.50000000e-01, -1.18644068e-01,
         2.22044605e-16],
       [ 3.33333333e-01, -8.33333333e-02,  1.52542373e-01,
         8.33333333e-02],
       [-2.77777778e-01, -1.66666667e-01,  1.86440678e-01,
         1.66666667e-01],
       [-1.66666667e-01, -4.16666667e-01,  5.08474576e-02,
        -2.50000000e-01],
       [ 5.55555556e-02, -8.33333333e-01,  1.86440678e-01,
         1.66666667e-01],
       [-2.77777778e-01, -5.83333333e-01, -1.69491525e-02,
        -1.66666667e-01],
       [-1.11111111e-01,  0.00000000e+00,  2.88135593e-01,
         4.16666667e-01],
       [-4.44089210e-16, -3.33333333e-01,  1.69491525e-02,
         2.22044605e-16],
       [ 1.11111111e-01, -5.83333333e-01,  3.22033898e-01,
         1.66666667e-01],
       [-4.44089210e-16, -3.33333333e-01,  2.54237288e-01,
        -8.33333333e-02],
       [ 1.66666667e-01, -2.50000000e-01,  1.18644068e-01,
         2.22044605e-16],
       [ 2.77777778e-01, -1.66666667e-01,  1.52542373e-01,
         8.33333333e-02],
       [ 3.88888889e-01, -3.33333333e-01,  2.88135593e-01,
         8.33333333e-02],
       [ 3.33333333e-01, -1.66666667e-01,  3.55932203e-01,
         3.33333333e-01],
       [-5.55555556e-02, -2.50000000e-01,  1.86440678e-01,
         1.66666667e-01],
       [-2.22222222e-01, -5.00000000e-01, -1.52542373e-01,
        -2.50000000e-01],
       [-3.33333333e-01, -6.66666667e-01, -5.08474576e-02,
        -1.66666667e-01],
       [-3.33333333e-01, -6.66666667e-01, -8.47457627e-02,
        -2.50000000e-01],
       [-1.66666667e-01, -4.16666667e-01, -1.69491525e-02,
        -8.33333333e-02],
       [-5.55555556e-02, -4.16666667e-01,  3.89830508e-01,
         2.50000000e-01],
       [-3.88888889e-01, -1.66666667e-01,  1.86440678e-01,
         1.66666667e-01],
       [-5.55555556e-02,  1.66666667e-01,  1.86440678e-01,
         2.50000000e-01],
       [ 3.33333333e-01, -8.33333333e-02,  2.54237288e-01,
         1.66666667e-01],
       [ 1.11111111e-01, -7.50000000e-01,  1.52542373e-01,
         2.22044605e-16],
       [-2.77777778e-01, -1.66666667e-01,  5.08474576e-02,
         2.22044605e-16],
       [-3.33333333e-01, -5.83333333e-01,  1.69491525e-02,
         2.22044605e-16],
       [-3.33333333e-01, -5.00000000e-01,  1.52542373e-01,
        -8.33333333e-02],
       [-4.44089210e-16, -1.66666667e-01,  2.20338983e-01,
         8.33333333e-02],
       [-1.66666667e-01, -5.00000000e-01,  1.69491525e-02,
        -8.33333333e-02],
       [-6.11111111e-01, -7.50000000e-01, -2.20338983e-01,
        -2.50000000e-01],
       [-2.77777778e-01, -4.16666667e-01,  8.47457627e-02,
         2.22044605e-16],
       [-2.22222222e-01, -1.66666667e-01,  8.47457627e-02,
        -8.33333333e-02],
       [-2.22222222e-01, -2.50000000e-01,  8.47457627e-02,
         2.22044605e-16],
       [ 5.55555556e-02, -2.50000000e-01,  1.18644068e-01,
         2.22044605e-16],
       [-5.55555556e-01, -5.83333333e-01, -3.22033898e-01,
        -1.66666667e-01],
       [-2.22222222e-01, -3.33333333e-01,  5.08474576e-02,
         2.22044605e-16],
       [ 1.11111111e-01,  8.33333333e-02,  6.94915254e-01,
         1.00000000e+00],
       [-1.66666667e-01, -4.16666667e-01,  3.89830508e-01,
         5.00000000e-01],
       [ 5.55555556e-01, -1.66666667e-01,  6.61016949e-01,
         6.66666667e-01],
       [ 1.11111111e-01, -2.50000000e-01,  5.59322034e-01,
         4.16666667e-01],
       [ 2.22222222e-01, -1.66666667e-01,  6.27118644e-01,
         7.50000000e-01],
       [ 8.33333333e-01, -1.66666667e-01,  8.98305085e-01,
         6.66666667e-01],
       [-6.66666667e-01, -5.83333333e-01,  1.86440678e-01,
         3.33333333e-01],
       [ 6.66666667e-01, -2.50000000e-01,  7.96610169e-01,
         4.16666667e-01],
       [ 3.33333333e-01, -5.83333333e-01,  6.27118644e-01,
         4.16666667e-01],
       [ 6.11111111e-01,  3.33333333e-01,  7.28813559e-01,
         1.00000000e+00],
       [ 2.22222222e-01,  0.00000000e+00,  3.89830508e-01,
         5.83333333e-01],
       [ 1.66666667e-01, -4.16666667e-01,  4.57627119e-01,
         5.00000000e-01],
       [ 3.88888889e-01, -1.66666667e-01,  5.25423729e-01,
         6.66666667e-01],
       [-2.22222222e-01, -5.83333333e-01,  3.55932203e-01,
         5.83333333e-01],
       [-1.66666667e-01, -3.33333333e-01,  3.89830508e-01,
         9.16666667e-01],
       [ 1.66666667e-01,  0.00000000e+00,  4.57627119e-01,
         8.33333333e-01],
       [ 2.22222222e-01, -1.66666667e-01,  5.25423729e-01,
         4.16666667e-01],
       [ 8.88888889e-01,  5.00000000e-01,  9.32203390e-01,
         7.50000000e-01],
       [ 8.88888889e-01, -5.00000000e-01,  1.00000000e+00,
         8.33333333e-01],
       [-5.55555556e-02, -8.33333333e-01,  3.55932203e-01,
         1.66666667e-01],
       [ 4.44444444e-01,  0.00000000e+00,  5.93220339e-01,
         8.33333333e-01],
       [-2.77777778e-01, -3.33333333e-01,  3.22033898e-01,
         5.83333333e-01],
       [ 8.88888889e-01, -3.33333333e-01,  9.32203390e-01,
         5.83333333e-01],
       [ 1.11111111e-01, -4.16666667e-01,  3.22033898e-01,
         4.16666667e-01],
       [ 3.33333333e-01,  8.33333333e-02,  5.93220339e-01,
         6.66666667e-01],
       [ 6.11111111e-01,  0.00000000e+00,  6.94915254e-01,
         4.16666667e-01],
       [ 5.55555556e-02, -3.33333333e-01,  2.88135593e-01,
         4.16666667e-01],
       [-4.44089210e-16, -1.66666667e-01,  3.22033898e-01,
         4.16666667e-01],
       [ 1.66666667e-01, -3.33333333e-01,  5.59322034e-01,
         6.66666667e-01],
       [ 6.11111111e-01, -1.66666667e-01,  6.27118644e-01,
         2.50000000e-01],
       [ 7.22222222e-01, -3.33333333e-01,  7.28813559e-01,
         5.00000000e-01],
       [ 1.00000000e+00,  5.00000000e-01,  8.30508475e-01,
         5.83333333e-01],
       [ 1.66666667e-01, -3.33333333e-01,  5.59322034e-01,
         7.50000000e-01],
       [ 1.11111111e-01, -3.33333333e-01,  3.89830508e-01,
         1.66666667e-01],
       [-4.44089210e-16, -5.00000000e-01,  5.59322034e-01,
         8.33333333e-02],
       [ 8.88888889e-01, -1.66666667e-01,  7.28813559e-01,
         8.33333333e-01],
       [ 1.11111111e-01,  1.66666667e-01,  5.59322034e-01,
         9.16666667e-01],
       [ 1.66666667e-01, -8.33333333e-02,  5.25423729e-01,
         4.16666667e-01],
       [-5.55555556e-02, -1.66666667e-01,  2.88135593e-01,
         4.16666667e-01],
       [ 4.44444444e-01, -8.33333333e-02,  4.91525424e-01,
         6.66666667e-01],
       [ 3.33333333e-01, -8.33333333e-02,  5.59322034e-01,
         9.16666667e-01],
       [ 4.44444444e-01, -8.33333333e-02,  3.89830508e-01,
         8.33333333e-01],
       [-1.66666667e-01, -4.16666667e-01,  3.89830508e-01,
         5.00000000e-01],
       [ 3.88888889e-01,  0.00000000e+00,  6.61016949e-01,
         8.33333333e-01],
       [ 3.33333333e-01,  8.33333333e-02,  5.93220339e-01,
         1.00000000e+00],
       [ 3.33333333e-01, -1.66666667e-01,  4.23728814e-01,
         8.33333333e-01],
       [ 1.11111111e-01, -5.83333333e-01,  3.55932203e-01,
         5.00000000e-01],
       [ 2.22222222e-01, -1.66666667e-01,  4.23728814e-01,
         5.83333333e-01],
       [ 5.55555556e-02,  1.66666667e-01,  4.91525424e-01,
         8.33333333e-01],
       [-1.11111111e-01, -1.66666667e-01,  3.89830508e-01,
         4.16666667e-01]])