# **Write a Python program to reverse a string and a function that takes a list and returns a new list with unique elements of the first list.**

In [56]:
string = "Asadullah Al Imran"
def my_function():
  word = string.split()
  rev_str = []
  for i in word:
    rev_str.append(i[::-1])
  print(rev_str)

my_function()

def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,'halludasA','CSE','narmI',5]))

['halludasA', 'lA', 'narmI']
[1, 'halludasA', 'CSE', 'narmI', 5]

# **Write a Python program to detect the number of local variables declared in a function that takes random input.**

In [36]:
def dtct_var():
    x = int(input())
    y = int(input())
    str1 = input()    

dtct_var()
print("No. of variable In the function is ",dtct_var.__code__.co_nlocals)

12
21
Asadullah Al Imran
No. of variable In the function is  3

# **Write a Python program to crate two empty classes, Student and Marks. Now create some instances and check whether they are instances of the said classes or not. Also, check whether the said classes are subclasses of the built-in object class or not.**

In [26]:
class Student:
    pass 

class Marks:
    pass 

student1 = Student()

marks1 = Marks()

print("1.",isinstance(student1, Student))

print("2.",isinstance(marks1, Student))

print("3.",isinstance(marks1, Marks)) 

print("4.",isinstance(student1, Marks))

print("5.",issubclass(Student, object))

print("6.",issubclass(Marks, object))

1. True
2. False
3. True
4. False
5. True
6. True

# **Function**

In [4]:
# Built-in Function
a = int(input("Enter 1st number : "))
b = int(input("Enter 2nd number : "))

c = max(a,b) #Here max() is a built-in function
print(c)

Enter 1st number : 20
Enter 2nd number : 21
21

In [1]:
#User define function

def bigger():
  a = int(input("Enter 1st number : "))
  b = int(input("Enter 2nd number : "))
  if a<b:
    print(b," is bigger than ",a)
  elif a == b:
    print(a," is equal to ",b)
  else:
    print(a,"is bigger than ",b)

bigger()

Enter 1st number : 3
Enter 2nd number : 4
4  is bigger than  3

In [2]:
#Parameter based Function

def bigger(a,b):
  if a<b:
    print(b," is bigger than ",a)
  elif a == b:
    print(a," is equal to ",b)
  else:
    print(a,"is bigger than ",b)

bigger(45,32)

45 is bigger than  32

In [6]:
#function with default parameter value
def check(a='python'):
    a = a.lower()
    if a=='python':
        print("Matched")
    else:
        print("Do not matched")

check()     #without parameter
check('Python')   #with parameter

Matched
Matched

In [11]:
#Local diclaration of variable

def country():
  name = 'Bangladesh' #local variable
  print(name)

country()
print(name)

Bangladesh

NameError: ignored

In [16]:
#Local diclaration of variable

name = 'Bangladesh' #Global variable

def country():
  print(name)
  date_of_birth = '26 March 1971'
  print(date_of_birth)

country()
print(name)
print(date_of_birth)

Bangladesh
26 March 1971
Bangladesh

NameError: ignored

In [17]:
#python standard library
#csv module

import csv

with open('test.csv', newline='') as csvfile:
    tmp = csv.reader(csvfile, delimiter=' ', quotechar='|')
    for row in tmp:
        print(', '.join(row))

In [43]:
#python standard library
#math module

import math

print(math.pi)          #value of pi

x=9.2
print(math.ceil(x))     #round to the smallest integer not less than x
print(math.floor(x))    #rount to the largest integer not greater than x

print(math.sin(78))     #trigonometric sine of x (x in radians)

print(math.pow(2,3))    #2 to the power 3

print(math.sqrt(16))    #square root of 16

3.141592653589793
10
9
0.5139784559875352
8.0
4.0

# **Object and Class**

In [44]:
class Cat:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a cat. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Meow")

In [45]:
class Mouse:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"I am a Mouse. My name is {self.name}. I am {self.age} years old.")

    def make_sound(self):
        print("Bark")

In [46]:
#create object
cat1 = Cat("tom", 2.5)
mouse1 = Mouse("jerry", 4)

In [47]:

for animal in (cat1, mouse1):
    animal.make_sound()
    animal.info()
    animal.make_sound()

Meow
I am a cat. My name is tom. I am 2.5 years old.
Meow
Bark
I am a Mouse. My name is jerry. I am 4 years old.
Bark

In [48]:
#error and exception handling 

def add(n1, n2):
  print(n1+n2)

In [49]:
add(10,20)

30

In [ ]:
number1=10

number2=input("please provide a number: ")

#give an error and after that nothing is executed
add(number1,number2)
print("add done!")

In [ ]:
#exception handling

try:
  #want to attempt this code 
  #may have an error
  result = 10+'10'
except:
  print(f'Hey! its looks like you are not adding correctly!')

In [ ]:
#exception handling

try:
  #want to attempt this code 
  result = 10+10
except:
  print(f'Hey! its looks like you are not adding correctly!')
else:
  print(f'add went well')
  print(f'sum is: {result}')

In [ ]:
#create base calss 
class Ball():
  def __init__(self):
    print(f'Ball created!')
  
  def who_am_i(self):
    print(f'i am ball')

In [ ]:
#create a Child(football) class

class Football(Ball):
  def __init__(self):
    #create instances of Ball
    Ball.__init__(self)
    print(f'football created!')

In [ ]:
#create object
myFootball = Football()

In [ ]:
#call base method
myFootball.who_am_i()

In [ ]:
#Use the super() Function
class Football(Ball):
  def __init__(self):
    #create instances of Ball
    super().__init__(self)
    print(f'football created!')

In [ ]:
#create object
try:
    myFootball = Football()
except:
    print("Error")

In [ ]:
#create base calss 
class Ball():
  def __init__(self):
    print(f'Ball created!')
  
  def who_am_i(self):
    print(f'i am ball')

#create a Child(football) class

class Football(Ball):
  def __init__(self):
    #create instances of Ball
    Ball.__init__(self)
    print(f'football created!')


#create object
myFootball = Football()

#call base method
myFootball.who_am_i()

#Use the super() Function
class Football(Ball):
  def __init__(self):
    #create instances of Ball
    try:
        super().__init__(self)
        print(f'football created!')
    except:
        print("Error")


myFootball = Football()

#overriding
class Football(Ball):
  def __init__(self):
    #create instances of Ball
    Ball.__init__(self)
    print(f'football created!')
  #overide base class method
  def who_am_i(self):
    print(f'i am football!')


#create object
myFootball = Football()
#call overide method
myFootball.who_am_i()

In [ ]:
#overriding
class Football(Ball):
  def __init__(self):
    #create instances of Ball
    Ball.__init__(self)
    print(f'football created!')
  #overide base class method
  def who_am_i(self):
    print(f'i am football!')

In [ ]:
#create object
myFootball = Football()
#call overide method
myFootball.who_am_i()

In [ ]:
#add new method 
#overriding
class Football(Ball):
  def __init__(self):
    #create instances of Ball
    Ball.__init__(self)
    print(f'football created!')
  #overide base class method
  def who_am_i(self):
    print(f'i am football!')
  #new method
  def play(self):
    print(f'hey! i am ready for play!')

In [ ]:
#create object
myFootball = Football()
#call new method
myFootball.play()

In [ ]:
class Class1:
  def m(self):
    print("In class1")
class Class2:
  def m(self):
    print("In class2")
class All(Class1, Class2):
  def m(self):
    print("in all class")
    Class1.m(self)
    Class2.m(self)

obj = All()
obj.m()

In [ ]:
class Trianle:
  def calculate():
    pass

class square:
  def calculate():
    pass

class Area(Triangle, square):

2nd part

class Area:
  def calculation():
    pass

class Trianle(Area):
  def calculate():
    pass

class square(Area):
  def calculate():
    pass

In [ ]:
obj = brand()

In [ ]:
class Area():
    def __init__(self,a):
        self.a=a
    def calculate(self):
       print("base area class")

class Triangle(Area):
    def calculate(self):
  
      print("Area of triangle",self.a)


class Square(Area):
    def calculate(self):
      print("Area of Square",self.a)

s = Square(3)
s.calculate()
t = Triangle(4)
t.calculate()

In [ ]:
class Triangle:
    def calculate(b,h):
        print("Area of triangle",(b*h)/2)

class Square:
    def calculate(a):
        print("Area of Square",a*a)

class Area(Triangle,Square):
  


    

obj = Area()